
# autotools output
/aclocal.m4/
/autom4te.cache/
/Makefile.in
/aclocal.m4
/compile
/config.h.in
/configure
/depcomp
/install-sh
/missing

# configure output
/.deps/
/config.h
/config.log
/config.status
/ptouch-driver-foomatic.spec
/ptouch-driver.spec
/stamp-h1
Makefile

# build output
/rastertoptch
*.o
